<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s Profile</title>
    <%- include('partials/head', { title: `${username} - Hubble` }) %>
  </head>
  <body>
    <%- include('partials/navbar', { activeId: 'profile' }) %>
    <main class="p-4">
      <h1><%= displayName %></h1>
      <h6><strong>@<%= username %></strong></h6>
    </main>
  </body>
</html>
